<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Start of Favicon code -->
        <link rel="apple-touch-icon" sizes="57x57" href="../static/img/assets/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="../static/img/assets/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../static/img/assets/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../static/img/assets/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../static/img/assets/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../static/img/assets/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="../static/img/assets/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../static/img/assets/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../static/img/assets/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="../static/img/assets/assets/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../static/img/assets/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="../static/img/assets/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../static/img/assets/favicon-16x16.png">
        <link rel="manifest" href="../static/extras/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="../static/extras/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <!-- End of Favicon code-->

        <!-- Meta Data -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Include Girls - Hackathon</title>

        <!-- Stlylesheet -->
        <link href="../static/css/style.css" rel="stylesheet" type="text/css" />

        <!-- Skin Color -->
        <link rel="stylesheet" href="../static/css/colors/blue.css" id="color-skins"/>

        <style type="text/css">
            #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
        </style>

    </head>
    <body>

        <!--Start Header-->
        <header>
            <nav class="navbar navbar-default navbar-alt" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <!-- <a class="navbar-brand to-top" rel="home" href="#"> -->
                        <a class="navbar-brand to-top">
                            <!-- <img src="img/assets/logo-white2.png" class="logo-big"> -->
                            <!--<img src="../static/img/assets/logo-dark.png" class="logo-small">-->
                        </a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="main-nav">
                        <ul class="nav navbar-nav">

                            <li class="to-top"> <a href="#">Home </a></li>
                            <li class="to-section"><a href="#about"> About </a></li>
                            
                            <!-- <li class="to-section"><a href="#location"> Location </a></li> -->
<!--                             <li class="to-section"><a href="#prizes"> Prizes </a></li>
                            <li class="to-section"><a href="#prizes"> FAQ </a></li> -->
                            <!-- <li class="to-section"><a href="./more-info.html"> Sponsors us!</a></li> -->
                            <li class="to-section"><a href="#get-connected"> Contact Us </a></li>
                            <!-- <li class="to-section"><a> Gallery </a></li> -->
                            <li class="to-section"><a href="#features"> F.A.Q. </a></li>
                            <li><a class="social-icon" href="https://twitter.com/IncludeGirls"><i class="icon icon-social-twitter"></i></a></li>
                            <li><a class="social-icon" href="https://www.facebook.com/includeGirls?fref=ts"><i class="icon icon-social-facebook"></i></a></li>
                      </ul>
                    </div><!-- /.navbar-collapse -->
                    <!-- MLH badge -->
                    <!-- <a id="mlh-trust-badge" style="position:fixed;top:0;right:50px;max-width:100px;width:10%;min-width: 60px;display:block;z-index:10000" href="https://mlh.io/?utm_campaign=Trust%20Badge" target="_blank"><img src="https://s3.amazonaws.com/logged-assets/trust-badge/f2015.png" alt="MLH Official - Fall 2015" style="width:100%;" ></a> -->
                </div><!-- /.container -->
            </nav>
        </header>
        <!--End Header-->

        <!-- Start Home Fullwidth Section -->
        <section id="home-parallax-fullwidth">
            <div class="home-container text-center op-1">
                <div class="home-title">
                    <div>
                        <h1 class="white wow fadeInDown">#INCLUDE &lt;A-THON&gt;</h1>
                        <p class="home-subheading wow fadeInDown">2016 · HACKATHON · JOB FAIR · INNOVATION</p>
                        <h1 class="white wow fadeInDown">October 15th - 16th · 2016</h1>
                        <h2 class="white wow fadeInDown">@Puerto Rico</h2>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Home Fullwidth Section -->


        <div class="site-wrapper content">
        <!-- About - Short explanation of the #include<Athon> -->
        <div id = "about">
          <div class="container">
            <div class="row features-row wow fadeInUp">
              <h3>About</h3> 
              <p class="about-text">
                The #include&lt;a-thon&gt; is an event that brings together the most talented and innovative young minds in Puerto Rico together for a weekend so they can use their skills to create ingenious and new projects. Our main goal is to attract a diverse audience interested in technology and programming and provide them with a space they can feel comfortable to share their ideas and experience with each other. We also aim to motivate female students to participate in our event.  </p>
              </div>
            </div>
          </div>  
        </div>  

       <!-- End About Section -->
                
            <!-- Start of Map Section  -->
<!--             <section id="location">
            <div class = "row map-row wow fadeInUp ">
              <div class="col-md-6 col-sm-12 info-map">
                <section id = "address">
                 <h3>Location: </h3>
                 <img src="../static/img/backgrounds/piloto151.jpg" class="place img-responsive"></img>
                 <h4 class="highlight">Piloto 151</h4> 
                 #151, Calle San Francisco, San Juan, 00901
                </section>
              </div>

              <div class="col-md-6 col-sm-12 info-map"> 
              <section id = "map">                  
                  <script src="https://maps.googleapis.com/maps/api/js"></script>
                    <script>function initialize() {
                      var mapCanvas = document.getElementById('map');
                      var mapOptions = {
                        center: new google.maps.LatLng(18.4654238, -66.1170117),
                        zoom: 15,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                      }
                      var map = new google.maps.Map(mapCanvas, mapOptions)

                      var marker = new google.maps.Marker({
                      position:new google.maps.LatLng(18.4654238, -66.1170117),
                      map: map
                      });
                    }
                    google.maps.event.addDomListener(window, 'load', initialize);
                  </script>
                </section>
              </div>
            </div>
          </section><hr> -->
            <!-- End of Map Section -->
            <!-- Start Get Connected -->
            <section id="get-connected" class="parallax-section-4">
                <div class="container">
                    <div class="col-md-12 text-center">
                      <h3 class="section-title white wow fadeInUp">Get Connected</h3>
                      <p class="subheading grey wow fadeInUp">Stay connected with us through <span class="highlight">social</span> networks!</p>
                    </div>

                    <div class="row text-center wow fadeInUp">
                        <ul class="connected-icons text-center">

                            <li class="connected-icon">
                                <a target="_blank" href="https://www.facebook.com/includeGirls?fref=ts">
                                    <span class="icon icon-social-facebook size-6x"></span>
                                    <h4 class="white">Facebook</h4>
                                    <span class="grey">Be Our Friend</span>
                                </a>
                            </li>

                            <li class="connected-icon">
                                <a target="_blank" href="https://twitter.com/IncludeGirls">
                                    <span class="icon icon-social-twitter size-6x"></span>
                                    <h4 class="white">Twitter</h4>
                                    <span class="grey">Follow Us</span>
                                </a>
                            </li>

                        </ul>
                    </div>

                </div>
            </section>
            <!-- End Get Connected -->

            <!-- Start Rules Section -->
            <section>
               <div class="container">
                <div class="row features-row wow fadeInUp">
                  <div class="row">
                    <div class="col-md-7 col-sm-7 eventsAndCat">
                    <h3>Rules </h3>
                        <ul>
                          <li><p>Teams may include up to four members</p></li>
                          <li><p>All hacks must be built at #include&lt;a-thon&gt; by registered attendees</p></li>
                          <li><p>Remote participation is not allowed</p></li>
                          <li><p>A participant can belong to just one group</p></li>
                          <li><p>Project contents must be general audience rated</p></li>
                          <li><p>Everyone must be identified at all times</p></li>
                          <li><p>Only hackers who are students at the time of the hackathon or who have left school within the current school year may compete</p></li>
                          <li><p>Teams retain full ownership of their projects.</p></li>
                          <li><p>Anyone must abide the <a href="http://static.mlh.io/docs/mlh-code-of-conduct. pdf">MLH Code of Conduct</a></p></li>
                        </ul>
                    </div>    
                  </div>
                </div>
              </div>
            </section>
              <hr>
            <!-- Start Quote Section -->
            <section id="quote" class="parallax-section-3">
                <div class="container">
                    <div class="row wow fadeInUp">

                        <div class="col-lg-12 wow fadeInUp" style="z-index:3">
                            <div id="quote-slider" class="owl-carousel">
                                <div>
                                    <blockquote>
                                        <i class="icon-left ion-quote ion-2x highlight"></i>
                                            <span>
                                                Our goal is to produce a hackathon evenly balanced in gender, maintain/increase the quality of hacks and take down the stereotypes that exist mostly in our field.
                                            </span>
                                        <i class="icon-right ion-quote ion-2x highlight"></i>
                                    </blockquote>
                                    <h4 class="quote-author highlight"></h4>
                                </div>
                                <div>
                                    <blockquote>
                                        <i class="icon-left ion-quote ion-2x highlight"></i>
                                            <span>
                                                A Perfect Design is made with Passion, Dedication,<br> and lots of Coffee!
                                            </span>
                                        <i class="icon-right ion-quote ion-2x highlight"></i>
                                    </blockquote>
                                    <h4 class="quote-author highlight"></h4>
                                </div>
                                <div>
                                    <blockquote>
                                        <i class="icon-left ion-quote ion-2x highlight"></i>
                                            <span>
                                                What separates design from art is that design is<br>meant to be... functional.
                                            </span>
                                        <i class="icon-right ion-quote ion-2x highlight"></i>
                                    </blockquote>
                                    <h4 class="quote-author highlight"></h4>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
                  </div>
                </div>
<!-- Start Prizes -->
<!--             <section>
               <div class="container">
                <div class="row">
               <div class="col-md-7 col-sm-7 eventsAndCat">
                  <h3>Categories</h3>
                    <h4 class="highlight">Best Tech + Fashion</h4>
                    <p>Best integration between fashion and tech using the following definitions</p>
                    <li><p>A hack will be considered under the <span class="highlight">Fashion</span> category if it's a popular style or practice, especially in clothing, footwear, accessories, makeup, or furniture.</p></li>
                    <li><p>A hack will be considered under the <span class="highlight">Tech</span> category if it's developed with hardware or software.</p></li>
                    <h4 class="highlight">Best Job Related Hack</h4>
                    <p>Any hack related to job searching or job matching.</p>
                    <h4 class="highlight">Best Hardware Hack</h4>
                    <p>The best integration of hardware with software.</p>
                    <h4 class="highlight">Best Educational Hack</h4>
                    <p>Any hack that aims to leverage our education.</p>
                  </div>
                    <h4 class="highlight">Prizes</h4>
                    <li><p>1st, 2nd and 3rd Place</p></li>
                    <li><p>Best Tech + Fashion Hack</p></li>
                    <li><p>Best Job Related Hack</p></li>
                    <li><p>Best Hardware Hack</p></li>
                    <li><p>Best Educational Hack</p></li>
                    <h4 class="highlight">Prizes sponsored by MLH</h4>
                    <li><p>1, 2, 3 medals</p></li>
                    <li><p>Dell tablets for the first place</p></li>
                    <li><p>Best use of Domain.com</p></li>
                    <li><p>Best Pebble Hack</p></li>
                  </div>
            </div>
        </div>
    </section> -->
    <!-- End Prizes Section -->

          <!-- Sponsor logos -->
<!--             <section id="sponsors" style="position: relative;">
                <div class="separator"></div>


                <div class="container">
                    <div class="col-md-12 text-center">
                        <h3 class="section-title wow fadeInUp">Sponsors</h3>
                    <div id="filters-container-fullwidth" class="cbp-l-filters-alignCenter wow fadeInUp">
                        <div data-filter="*" class="cbp-filter-item">All<div class="cbp-filter-counter"></div></div>
                        <div data-filter=".venue" class="cbp-filter-item">Venue<div class="cbp-filter-counter"></div></div>
                        <div data-filter=".hackathon" class="cbp-filter-item">Hackathon<div class="cbp-filter-counter"></div></div>
                        <div data-filter=".job" class="cbp-filter-item">Job Fair<div class="cbp-filter-counter"></div></div>
                        <div data-filter=".fashion" class="cbp-filter-item">Fashion Show<div class="cbp-filter-counter"></div></div>
                        <div data-filter=".partner" class="cbp-filter-item">Partnership<div class="cbp-filter-counter"></div></div>
                    </div>

                    <div id="grid-container-fullwidth" class="cbp-l-grid-fullScreen">
                        <ul>
                            
                            <li class="cbp-item effect effects venue">
                                <div class="img">
                                    <img src="../static/img/portfolio/piloto-logo.jpg" class="img-responsive" alt="" />
                                    <div class="overlay">
                                        <ul class="expand">
                                            <li class="cbp-l-caption-title">Piloto 151</li>
                                            <li class="cbp-l-caption-desc">Co-working Space</li>
                                            <li class="cbp-l-icon"><a href="../static/img/portfolio/fullsize/1.jpg" class="cbp-lightbox" <i class="icon-magnifier"></i></a></li>

                                            <li class="cbp-l-icon"><a href="http://www.piloto151.com"><i class="icon-link"> </i></a></li>
                                        </ul>
                                    </div>
                                </div>
                              </li>
                        </ul>
                    </div>
                    <br>
            </section> -->
            <!-- End Portfolio Section -->


         <!-- Start Features Section -->
          <section id="features">
              <div class="container">
              <h3 class="section-title wow fadeInUp">F.A.Q.</h3>
                  <div class="row features-row wow fadeInUp">
                      <div class="col-md-4 col-sm-12 feature-column">
   <!--                        <div class="feature-icon">
                              <img src="../static/img/portfolio/buttons/laptop_mini.png" class="icon-laptop size-2x " > </img>
                              <img src="../static/img/portfolio/buttons/laptop_Big3.png" class="icon-laptop back-icon"> </img>
                          </div> -->

                          <div class="feature-info">
                              <h4>Why a Hackathon?</h4>
                              <p class="feature-description">We aim to produce a hackathon evenly balanced in gender while maintaining and increasing the quality of hacks. We want to motivate women to show off their skills and ideas for new projects.</p>
                          </div>
                      </div>
<!--                       <div class="col-md-4 col-sm-12 feature-column">
                          <div class="feature-icon">
                              <img src="../static/img/portfolio/buttons/spotlight_icon_mini.png" class="icon-lock-open size-2x"></img>
                              <img src="../static/img/portfolio/buttons/spotlight_iconBig.png" class="icon-lock-open back-icon"></img>
                          </div>
                          <div class="feature-info">
                              <h4>Why a Fashion Show?</h4>
                              <p class="feature-description">We want to take down the stereotypes that exist in our field that programmers can’t be into fashion. Instead of male dominated hobbies we want to come up with a hobby highly classified as a female hobby to show how diverse hackathons can be.</p>
                          </div>
                      </div> -->

                      <div class="col-md-4 col-sm-12 feature-column">
    
                          <div class="feature-info">
                              <h4>Why a Job Fair?</h4>
                              <p class="feature-description">We are aware that for students, espectially in the metro area, it might be difficult to talk one-on-one with recruits from companies. We want to provide participants with the opportunity to network with companies for possible internship/job opportunities. </p>
                          </div>
                      </div>

                      <div class="col-md-4 col-sm-12 feature-column">
                        <div class="feature-info">
                          <h4>Is the admission free?</h4>
                          <p class="feature-description">For the students that are planning to come to the Job Fair and the Hackathon, the admission is free. However, any person interested in participating in the event must had registered before the registration closes. </p>
                        </div>
                      </div>

                    </div>

                    <div class="row features-row wow fadeInUp">
                      <div class="col-md-4 col-sm-12 feature-column">
                        <div class="feature-info">
                            <h4>But, what is a Hackathon?</h4>
                            <p class="feature-description">#inlcude &lt;a-thon&gt; is an event where people with technical skills come together for 24 hours to create amazing projects. These projects are then judged by a group of tech professionals and winners will possibly win cool prizes.<a href="https://medium.com/hackathons-anonymous/wtf-is-a-hackathon-92668579601"> Click here to learn more.</a></p>
                          </div>
                      </div>

                      <div class="col-md-4 col-sm-12 feature-column">

                          <div class="feature-info">
                              <h4>Can I have teamates?</h4>
                              <p class="feature-description">The teams can have up to 4 members. Each team must bring their own computers. Teams are recommended to have at least 1 programmer, but it’s not mandatory.</p>
                          </div>
                      </div>

                      <div class="col-md-4 col-sm-12 feature-column">
       
                          <div class="feature-info">
                              <h4>Who can participate?</h4>
                              <p class="feature-description">We welcome college students from any university and major. High school students can participate if they're 18 or older. We also welcome professionals to participate if they have graduated this year. </p>
                          </div>
                      </div>
                  </div>

                  <div class="row wow fadeInUp">
                        <div class="col-md-4 col-sm-12 feature-column">

                          <div class="feature-info">
                              <h4>Do you give travel reimbursement?</h4>
                              <p class="feature-description">Unfortunately, we’re not offering any travel reimbursement for people outside Puerto Rico at the moment. </a></p>
                          </div>
                      </div>

                      <div class="col-md-4 col-sm-12 feature-column">
                          <div class="feature-info">
                              <h4>Can I stay over?</h4>
                              <p class="feature-description">If you’re going to participate in the hackathon, you can stay over. If you want, you can bring a sleeping bag, air mattress, pillows, etc.</a></p>
                          </div>
                      </div>

                    <div class="col-md-4 col-sm-12 feature-column">
                          <div class="feature-info">
                              <h4>What about food?</h4>
                              <p class="feature-description">You don't have to worry about food, we will provide all of the participants with lunch, dinner and breakfast and lunch on the second day of the hackathon.</a></p>
                          </div>
                      </div>


                    </div>
                </div>
          </section>

          <!--End Features Section -->
            <!-- Start Footer 1 -->
            <footer id="footer">
                <div class="footer-widgets">
                    <div class="container">

                            <div class="col-md-6 col-sm-6 col-twitter">
                                <h4>Latest Tweets</h4>
                                <div >
                                    <a class="twitter-timeline" href="https://twitter.com/IncludeGirls" data-widget-id="616437727224037377">Tweets by @IncludeGirls</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

                                </div>
                            </div>
                    </div>
                </div><!-- End Footer Widgets -->

                <div class="footer-copyright">
                    <div class="container">
                        <div class="row">

                            <div class="col-md-6 col-sm-12">
                            </div>
                            <div class="col-md-6 col-sm-12">
                            </div>
                        </div>
                    </div>
                </div><!-- End Footer Copyright -->

            </footer>
            <!-- End Footer 1 -->

            <footer id="footer">
                <div class="footer-widgets">
                    <div class="container">
                            <div class="col-md-5 col-sm-2 col-footer">
                                <h4>About Include Girls</h4>
                                <p> #Include&#60girls&#62 is a student driven non-profit organization from the UPR for women in STEM. Our goal is to outreach not only women, but a minority represented in our science.</p>
                                <p>We don't segregate ourselves, we support diversity.
                                We also aim to change the erroneous image that the students can have about Computer Science. </p>
                            </div>
                            <div class="col-md-6 col-sm-12">
                            <h4>Copy Rights</h4>
                            <p> Logo and name belong to #include&#60girls&#62. </p>
                            <p> Photos were taken by Jonathan Medina, Bianca Colon & Mariecarmen Reynoso.</p>
                            <p>All the illustrations were recovered from <a href="https://pixabay.com/"> www.pixabay.com.</a></p>
                            <p>Favicon created with website <a href="http://www.favicon-generator.org/">www.favicon-generator.org/</a></p>
                            <p>All sponsors' logos belong to their respective owners.</p>
                            </div>
                    </div>
                </div>

                <!-- End Footer Widgets -->
            </footer>
            <!-- End Footer 1 -->


            <!-- Start Back To Top -->
            <a id="back-to-top"><i class="icon ion-chevron-up"></i></a>
            <!-- End Back To Top -->

        </div> <!-- End Site Wrapper -->

        <!-- jQuery -->
        <script src="../static/js/plugins/jquery.min.js"></script>
        <script src="../static/js/plugins/smoothscroll.min.js"></script>
        <script src="../static/js/plugins/revslider.min.js"></script>
        <script src="../static/js/plugins/bootstrap.min.js"></script>
        <script src="../static/js/plugins/waypoints.min.js"></script>
        <script src="../static/js/plugins/parallax.min.js"></script>
        <script src="../static/js/plugins/easign1.3.min.js"></script>
        <script src="../static/js/plugins/moderniz.min.js"></script>
        <script src="../static/js/plugins/cubeportfolio.min.js"></script>
        <script src="../static/js/plugins/owlcarousel.min.js"></script>
        <script src="../static/js/plugins/tweetie.min.js"></script>
        <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script src="../static/js/plugins/gmap3.min.js"></script>
        <script src="../static/js/plugins/wow.min.js"></script>
        <script src="../static/js/plugins/counterup.min.js"></script>
        <script src="../static/js/scripts.js"></script>

    </body>
</html>
