<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Start of Favicon code -->
  <link rel="apple-touch-icon" sizes="57x57" href="../static/img/assets/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="../static/img/assets/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../static/img/assets/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../static/img/assets/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../static/img/assets/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../static/img/assets/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../static/img/assets/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../static/img/assets/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../static/img/assets/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="../static/img/assets/assets/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/img/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="../static/img/assets/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/img/assets/favicon-16x16.png">
  <link rel="manifest" href="../static/extras/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <link href='https://fonts.googleapis.com/css?family=Quicksand:300' rel='stylesheet' type='text/css'>
  <meta name="msapplication-TileImage" content="../static/extras/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <!-- End of Favicon code-->

  <!-- Meta Data -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Include Girls - Hackathon</title>

  <!-- Stlylesheet -->
  <link href="../static/css/style.css" rel="stylesheet" type="text/css" />

  <!-- Skin Color -->
  <link rel="stylesheet" href="../static/css/colors/blue2.css" id="color-skins"/>

  <style type="text/css">
    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
  </style>

</head>
<body>

  <!--Start Header-->
  <header>
    <nav class="navbar navbar-default navbar-alt" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand to-top" rel="home" href="#"> -->
          <a class="navbar-brand to-top">
            <!-- <img src="img/assets/logo-white2.png" class="logo-big"> -->
            <!--<img src="../static/img/assets/logo-dark.png" class="logo-small">-->
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="main-nav">
          <ul class="nav navbar-nav">

            <li class="to-top"> <a href="#">HOME </a></li>
            <li class="to-section"><a href="#about"> ABOUT </a></li>

            <!-- <li class="to-section"><a href="#location"> Location </a></li> -->
<!--                             <li class="to-section"><a href="#prizes"> Prizes </a></li>
  <li class="to-section"><a href="#prizes"> FAQ </a></li> -->
  <li class="to-section"><a href="#sponsors"> SPONSORS</a></li>
  <li class="to-section"><a href="#get-connected"> CONTACT </a></li>
  <li class="to-section"><a href="#2015"> INCLUDE&lt;A-THON&gt; 2015 </a></li>
    <li class="to-section"><a href="#registration"> REGISTRATION </a></li>
  <li class="to-section"><a href="#features"> FAQ </a></li>
  <li><a class="social-icon" href="https://twitter.com/IncludeGirls"><i class="icon icon-social-twitter"></i></a></li>
  <li><a class="social-icon" href="https://www.facebook.com/includeGirls?fref=ts"><i class="icon icon-social-facebook"></i></a></li>
</ul>
</div><!-- /.navbar-collapse -->
<!-- MLH badge -->
<!-- <a id="mlh-trust-badge" style="position:fixed;top:0;right:50px;max-width:100px;width:10%;min-width: 60px;display:block;z-index:10000" href="https://mlh.io/?utm_campaign=Trust%20Badge" target="_blank"><img src="https://s3.amazonaws.com/logged-assets/trust-badge/f2015.png" alt="MLH Official - Fall 2015" style="width:100%;" ></a> -->
</div><!-- /.container -->
</nav>
</header>
<!--End Header-->

<!-- Start Home Fullwidth Section -->
<section id="home-parallax-fullwidth">
  <div class="home-container text-center op-1">
    <div class="home-title">
      <div>
        <h1 class="white wow fadeInDown">&#35;INCLUDE &lt;A-THON&gt;</h1>
        <h4 class="white wow fadeInDown">HACKATHON · JOB FAIR </h4>
        <h4 class="white wow fadeInDown">October 15th - 16th · 2016 | Puerto Rico</h4>
        <br>
        <div class="op-1"><a href="#registration" style="background: transparent; border-style: dotted; border-color: #33373A; border-width: 1px;" class="btn btn-primary btn-scroll">REGISTER</a></div>
      </div>
    </div>
  </div>
</section>
<!-- End Home Fullwidth Section -->


<div class="site-wrapper content">
  <!-- <div class="separator"></div> -->
  <!-- About - Short explanation of the #include<Athon> -->
  <div id = "about">
    <div class="container">
      <div class="row features-row wow fadeInUp">
        <h3>ABOUT</h3> 
        <div class="col-md-6 text-left about-text">

          <p class="about-text">
            The &#35;include&lt;a-thon&gt; is a hackathon that brings together the most talented and innovative young minds in Puerto Rico for a weekend so they can use their skills to create ingenious and new projects. 
            <p><p class="about-text">
              Our main goal is to attract a diverse audience interested in technology and programming and provide them with a space they can feel comfortable to share their ideas and experience with each other. We also aim to motivate female students to participate in our event.  </p>
            </div>
            <div class="col-md-6 text-left about-text">
              <h3><span class="highlight" style="font-weight: bold;">When? </span>  </h3> <h4> October 15th - 16th · 2016 </h4> 
              <h3><span class="highlight" style="font-weight: bold;">Where? </span> </h3> <h4> TBA</h4> 
            </div>
          </div>
        </div>  
      </div>  

      <!-- End About Section -->
      <section id="quote" class="parallax-section-3">
        <div class="container">
          <div class="row wow fadeInUp">

            <div class="col-lg-12 wow fadeInUp" style="z-index:3">
              <!-- <div id="quote-slider" class="owl-carousel"> -->
              <div>
                <blockquote>
                  <i class="icon-left ion-2x highlight"></i>
                  <span>
                    "Our goal is to produce a hackathon evenly balanced in gender, maintain/increase the quality of hacks and take down the stereotypes that exist mostly in our field."
                  </span>
                  <i class="icon-right ion-quote ion-2x highlight"></i>
                </blockquote>
                <h4 class= "highlight"></h4>
              </div>
                               <!--  <div>
                                    <blockquote>
                                        <i class="icon-left ion-quote ion-2x highlight"></i>
                                            <span>
                                                A Perfect Design is made with Passion, Dedication,<br> and lots of Coffee!
                                            </span>
                                        <i class="icon-right ion-quote ion-2x highlight"></i>
                                    </blockquote>
                                    <h4 class="quote-author highlight"></h4>
                                  </div> -->
                                <!-- <div>
                                    <blockquote>
                                        <i class="icon-left ion-quote ion-2x highlight"></i>
                                            <span>
                                                What separates design from art is that design is<br>meant to be... functional.
                                            </span>
                                        <i class="icon-right ion-quote ion-2x highlight"></i>
                                    </blockquote>
                                    <h4 class="quote-author highlight"></h4>
                                  </div> -->
                                  <!-- </div> -->
                                </div>

                              </div>
                            </div>
                          </section>
                          <!-- Start of Map Section  -->
<!--             <section id="location">
            <div class = "row map-row wow fadeInUp ">
              <div class="col-md-6 col-sm-12 info-map">
                <section id = "address">
                 <h3>Location: </h3>
                 <img src="../static/img/backgrounds/piloto151.jpg" class="place img-responsive"></img>
                 <h4 class="highlight">Piloto 151</h4> 
                 #151, Calle San Francisco, San Juan, 00901
                </section>
              </div>

              <div class="col-md-6 col-sm-12 info-map"> 
              <section id = "map">                  
                  <script src="https://maps.googleapis.com/maps/api/js"></script>
                    <script>function initialize() {
                      var mapCanvas = document.getElementById('map');
                      var mapOptions = {
                        center: new google.maps.LatLng(18.4654238, -66.1170117),
                        zoom: 15,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                      }
                      var map = new google.maps.Map(mapCanvas, mapOptions)

                      var marker = new google.maps.Marker({
                      position:new google.maps.LatLng(18.4654238, -66.1170117),
                      map: map
                      });
                    }
                    google.maps.event.addDomListener(window, 'load', initialize);
                  </script>
                </section>
              </div>
            </div>
          </section><hr> -->
          <!-- End of Map Section -->
          <!-- Start Get Connected -->

          <!-- End Get Connected -->

          <!-- Start Rules Section -->
            <!-- <section>
               <div class="container">
                <div class="row features-row wow fadeInUp">
                  <div class="row">
                   <br>
                    <h3>Rules </h3>
                    <br>
                    <div class="col-md-6 col-sm-6 eventsAndCat">
                    
                        <ul>
                          <li><p>Teams may include up to four members</p></li>
                          <li><p>All hacks must be built at #include&lt;a-thon&gt; by registered attendees</p></li>
                          <li><p>Remote participation is not allowed</p></li>
                          <li><p>A participant can belong to just one group</p></li>
                          <li><p>Project contents must be general audience rated</p></li>

                        </ul>
                    </div>    
                    <div class="col-md-6 col-sm-6 eventsAndCat">
                    
                        <ul>
                         
                          <li><p>Everyone must be identified at all times</p></li>
                          <li><p>Only hackers who are students at the time of the hackathon or who have left school within the current school year may compete</p></li>
                          <li><p>Teams retain full ownership of their projects.</p></li>
                          <li><p>Anyone must abide the <a href="http://static.mlh.io/docs/mlh-code-of-conduct. pdf">MLH Code of Conduct</a></p></li>
                        </ul>
                    </div> 
                  </div>
                </div>
              </div>
            </section> -->
            <!-- Sponsor logos -->
            <section id="sponsors" class="site-wrapper content" style="position: relative;">
              <div class="separator"></div>


              <div class="container">
                <div class="col-md-12 text-center">
                  <h3 class="section-title wow fadeInUp">Sponsors</h3>
                    <!-- <div id="filters-container-fullwidth" class="cbp-l-filters-alignCenter wow fadeInUp">
                        <div data-filter="*" class="cbp-filter-item">All<div class="cbp-filter-counter"></div></div>
                        <div data-filter=".venue" class="cbp-filter-item">Venue<div class="cbp-filter-counter"></div></div>
                        <div data-filter=".hackathon" class="cbp-filter-item">Hackathon<div class="cbp-filter-counter"></div></div>
                        <div data-filter=".job" class="cbp-filter-item">Job Fair<div class="cbp-filter-counter"></div></div>
                        <div data-filter=".fashion" class="cbp-filter-item">Fashion Show<div class="cbp-filter-counter"></div></div>
                        <div data-filter=".partner" class="cbp-filter-item">Partnership<div class="cbp-filter-counter"></div></div>
                      </div> -->

                    <!-- <div id="grid-container-fullwidth" class="cbp-l-grid-fullScreen">
                        <ul>
                            
                            <li class="cbp-item effect effects venue">
                                <div class="img">
                                    <img src="../static/img/portfolio/piloto-logo.jpg" class="img-responsive" alt="" />
                                    <div class="overlay">
                                        <ul class="expand">
                                            <li class="cbp-l-caption-title">Piloto 151</li>
                                            <li class="cbp-l-caption-desc">Co-working Space</li>
                                            <li class="cbp-l-icon"><a href="../static/img/portfolio/fullsize/1.jpg" class="cbp-lightbox" <i class="icon-magnifier"></i></a></li>

                                            <li class="cbp-l-icon"><a href="http://www.piloto151.com"><i class="icon-link"> </i></a></li>
                                        </ul>
                                    </div>
                                </div>
                              </li>
                        </ul>
                      </div> -->
                    </br>
                    <h4>The success of this event is credited largely to our sponsors, who lend their names and financial support to the event. </h4></br>
                    <a href="https://drive.google.com/file/d/0B7r7zDFy25kBLVI2aGtZNGxhZzA/view?usp=sharing" style="    background: transparent;
    color: #35495c;
    border-style: dotted;
    border-width: 1px;" class="btn btn-primary btn-scroll">SPONSOR NOW!</a>
                  </br></br></br>
                </section>
                <!-- <hr> -->
                <section id="get-connected" class="parallax-section-4">

                  <div class="container">

                    <div class="col-md-12 text-center">
                      <h3 class="section-title white wow fadeInUp">Get Connected</h3>

                      <p class="subheading white wow fadeInUp">Stay connected with us through <span class="highlight">social</span> networks!</p>
                    </div>

                    <div class="row text-center wow fadeInUp">
                      <ul class="connected-icons text-center">

                        <li class="connected-icon">
                          <a target="_blank" href="https://www.facebook.com/includeGirls?fref=ts">
                            <span class="icon icon-social-facebook size-6x"></span>
                            <h4 class="white">Facebook</h4>
                            <span class="grey">Be Our Friend</span>
                          </a>
                        </li>

                        <li class="connected-icon">
                          <a target="_blank" href="https://twitter.com/IncludeGirls">
                            <span class="icon icon-social-twitter size-6x"></span>
                            <h4 class="white">Twitter</h4>
                            <span class="grey">Follow Us</span>
                          </a>
                        </li>

                      </ul>
                      <p class="white">Questions? Contact us via email | include.girls.uprrp@gmail.com</p>
                      <p></p>
                    </div>

                  </div>
                </section>

                <section id="2015">
                  <!-- <div class="separator"></div> -->
                  <div class="container text-center">

                    <h3 style="text-align: center; margin-top: 50px;">&#35;INCLUDE&lt;A-THON&gt; 2015</h3>
                    <br>
                    <div id="masonry">

                      <div class="col-md-4">
                        <div class="blog-column">
                          <img class="img-responsive blog-img" src="../static/img/hack15/hacking.jpg" alt="">
                          <div class="column-info">
                            <h4 class="uppercase" style="text-align: center;">Hacking</h4>                                  
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="blog-column">
                          <img class="img-responsive blog-img" src="../static/img/hack15/jobfair.png" alt="">
                          <div class="column-info">
                            <h4 class="uppercase" style="text-align: center;">Job Fair</h4>                                  
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="blog-column">
                          <img class="img-responsive blog-img" src="../static/img/hack15/fashion.jpg" alt="">
                          <div class="column-info">
                            <h4 class="uppercase" style="text-align: center;">Fashion Show</h4>                                  
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="blog-column">
                          <img class="img-responsive blog-img" src="../static/img/hack15/staff.jpg" alt="">
                          <div class="column-info">
                            <h4 class="uppercase" style="text-align: center;">Staff</h4>                                  
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="blog-column">
                          <img class="img-responsive blog-img" src="../static/img/hack15/presentaciones.jpg" alt="">
                          <div class="column-info">
                            <h4 class="uppercase" style="text-align: center;">Presentations</h4>                                  
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="blog-column">
                          <img class="img-responsive blog-img" src="../static/img/hack15/premiaciones.jpg" alt="">
                          <div class="column-info">
                            <h4 class="uppercase" style="text-align: center;">Awards</h4>                                  
                          </div>
                        </div>
                      </div>


 <!--                        <div class="column" style="position: absolute; left: 389px; top: 948px;">
                            <div class="blog-column">
                                <img class="img-responsive blog-img" src="../static/img/blog/masonry/blog-7.jpg" alt="">
                                <div class="column-info">
                                    <h4 class="uppercase"><a href="single-post-1.html">Blue Dream</a></h4>                            
                                    <ul class="blog-post-info">
                                        <li><a href="#"><i class="ion-person"></i> By Vossen</a></li>
                                        <li><a href="#"><i class="ion-clock"></i> 18 March</a></li>  
                                    </ul>    
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore.</p>
                                    <a class="btn btn-primary btn-xs" href="blog-single-post-1.html">Read More</a>
                                </div>
                            </div> 
                          </div>  -->
                          </br></br></br>
                          <a href="http://hackathon.includegirls.com/includeathon2015" style="background: transparent; color: #35495c; margin-top: 40px; border-style: dotted; border-width: 1px;align-items: center;" class="btn btn-primary btn-scroll">GALLERY</a>
                        </div>
                        

                      </div>
                      <br><br><br><br><br>
                    </section>
                    <section id="fun-facts" class="parallax-section-2 text-center">
                      <div class="container">
                        <h3 style="color: #FFFFFF; text-align: center; margin-top: 50px;">&#35;INCLUDE&lt;A-THON&gt; 2015'S FACTS</h3>

                        <div class="counter-row row text-center wow fadeInUp animated" style="visibility: visible;">
                          <div class="col-md-3 col-sm-6 fact-container">
                            <div class="fact">
                              <span style="font-size: 50px;" class="highlight">~</span> <span class="counter highlight">80</span> 
                              <h4 style="color: #FFFFFF">Hackers</h4>
                              <p style = "color: white">From different <span class="highlight">Colleges</span> from Puerto Rico.</p>
                            </div>
                          </div>
                          <div class="col-md-3 col-sm-6 fact-container">
                            <div class="fact">
                              <span class="counter highlight">30</span> <span style="font-size: 50px;" class="highlight">%</span>
                              <h4 style="color: #FFFFFF">Women</h4>
                              <p style = "color: white"><span class="highlight">Participated</span> in the event.</p>
                            </div>
                          </div>
                          <div class="col-md-3 col-sm-6 fact-container">
                            <div class="fact">
                              <span class="counter highlight">18</span>
                              <h4 style="color: #FFFFFF">Projects</h4>
                              <p style = "color: white" >Developed in <span class="highlight">24</span> hours</p>
                            </div>
                          </div> 
                          <div class="col-md-3 col-sm-6 fact-container">
                            <div class="fact">
                             <span class="highlight" style="font-size: 50px;">$</span><span class="counter highlight">2100</span>
                             <h4 style="color: #FFFFFF">in Prizes</h4>
                           </div>
                         </div>
                       </div> 

                     </div>
                   </section>
                   <!-- Start Quote Section -->

                 </div>
               </div>
               <!-- Start Prizes -->
<!--             <section>
               <div class="container">
                <div class="row">
               <div class="col-md-7 col-sm-7 eventsAndCat">
                  <h3>Categories</h3>
                    <h4 class="highlight">Best Tech + Fashion</h4>
                    <p>Best integration between fashion and tech using the following definitions</p>
                    <li><p>A hack will be considered under the <span class="highlight">Fashion</span> category if it's a popular style or practice, especially in clothing, footwear, accessories, makeup, or furniture.</p></li>
                    <li><p>A hack will be considered under the <span class="highlight">Tech</span> category if it's developed with hardware or software.</p></li>
                    <h4 class="highlight">Best Job Related Hack</h4>
                    <p>Any hack related to job searching or job matching.</p>
                    <h4 class="highlight">Best Hardware Hack</h4>
                    <p>The best integration of hardware with software.</p>
                    <h4 class="highlight">Best Educational Hack</h4>
                    <p>Any hack that aims to leverage our education.</p>
                  </div>
                    <h4 class="highlight">Prizes</h4>
                    <li><p>1st, 2nd and 3rd Place</p></li>
                    <li><p>Best Tech + Fashion Hack</p></li>
                    <li><p>Best Job Related Hack</p></li>
                    <li><p>Best Hardware Hack</p></li>
                    <li><p>Best Educational Hack</p></li>
                    <h4 class="highlight">Prizes sponsored by MLH</h4>
                    <li><p>1, 2, 3 medals</p></li>
                    <li><p>Dell tablets for the first place</p></li>
                    <li><p>Best use of Domain.com</p></li>
                    <li><p>Best Pebble Hack</p></li>
                  </div>
            </div>
        </div>
      </section> -->
      <!-- End Prizes Section -->


      <!-- End Portfolio Section -->


      <!-- Start Features Section -->
      <section id="features">
        <!-- <div class="separator"></div> -->
        <div class="container">
          <br>
          <h3 class="section-title wow fadeInUp text-center">FAQ</h3>
          <br>
          <div class="row features-row wow fadeInUp">
            <div class="col-md-4 col-sm-12 feature-column">
   <!--                        <div class="feature-icon">
                              <img src="../static/img/portfolio/buttons/laptop_mini.png" class="icon-laptop size-2x " > </img>
                              <img src="../static/img/portfolio/buttons/laptop_Big3.png" class="icon-laptop back-icon"> </img>
                            </div> -->

                            <div class="feature-info">
                              <h4>Why a Hackathon?</h4>
                              <p class="feature-description">"We aim to produce a hackathon evenly balanced in gender while maintaining and increasing the quality of hacks. We want to motivate women to show off their skills and ideas for new projects."</p>
                            </div>
                          </div>
<!--                       <div class="col-md-4 col-sm-12 feature-column">
                          <div class="feature-icon">
                              <img src="../static/img/portfolio/buttons/spotlight_icon_mini.png" class="icon-lock-open size-2x"></img>
                              <img src="../static/img/portfolio/buttons/spotlight_iconBig.png" class="icon-lock-open back-icon"></img>
                          </div>
                          <div class="feature-info">
                              <h4>Why a Fashion Show?</h4>
                              <p class="feature-description">We want to take down the stereotypes that exist in our field that programmers can’t be into fashion. Instead of male dominated hobbies we want to come up with a hobby highly classified as a female hobby to show how diverse hackathons can be.</p>
                          </div>
                        </div> -->

                        <div class="col-md-4 col-sm-12 feature-column">

                          <div class="feature-info">
                            <h4>Why a Job Fair?</h4>
                            <p class="feature-description">We are aware that for students, especially in the metro area, it might be difficult to talk one-on-one with recruits from companies. We want to provide participants with the opportunity to network with companies for possible internship/job opportunities. </p>
                          </div>
                        </div>

                        <div class="col-md-4 col-sm-12 feature-column">
                          <div class="feature-info">
                            <h4>Is the admission free?</h4>
                            <p class="feature-description">For the students that are planning to come to the Job Fair and the Hackathon, the admission is free. However, any person interested in participating in the event must had registered before the registration closes. </p>
                          </div>
                        </div>

                      </div>

                      <div class="row features-row wow fadeInUp">
                        <div class="col-md-4 col-sm-12 feature-column">
                          <div class="feature-info">
                            <h4>But, what is a Hackathon?</h4>
                            <p class="feature-description">&#35;include &lt;a-thon&gt; is an event where people with technical/design skills come together for 24 hours to create amazing projects. These projects are then judged by a group of tech professionals and winners will possibly win cool prizes.<a href="https://medium.com/hackathons-anonymous/wtf-is-a-hackathon-92668579601"> Click here to learn more.</a></p>
                          </div>
                        </div>

                        <div class="col-md-4 col-sm-12 feature-column">
                          <div class="feature-info">
                            <h4>Can I have teammates?</h4>
                            <p class="feature-description">The teams can have up to 4 members. Each team must bring their own computers. Teams are recommended to have at least 1 programmer, but it’s not mandatory.</p>
                          </div>
                        </div>

                        <div class="col-md-4 col-sm-12 feature-column">

                          <div class="feature-info">
                            <h4>Who can participate?</h4>
                            <p class="feature-description">We welcome college students from any university and major. High school students can participate if they're 18 or older. We also welcome professionals to participate if they have graduated this year. </p>
                          </div>
                        </div>
                      </div>

                      <div class="row wow fadeInUp">
                        <div class="col-md-4 col-sm-12 feature-column">
                          <div class="feature-info">
                            <h4>Do you give travel reimbursement?</h4>
                            <p class="feature-description">Unfortunately, we’re not offering any travel reimbursement for people outside Puerto Rico at the moment. </a></p>
                          </div>
                        </div>

                        <div class="col-md-4 col-sm-12 feature-column">
                          <div class="feature-info">
                            <h4>Can I stay over?</h4>
                            <p class="feature-description">If you’re going to participate in the hackathon, you can stay over. If you want, you can bring a sleeping bag, air mattress, pillows, etc.</a></p>
                          </div>
                        </div>

                        <div class="col-md-4 col-sm-12 feature-column">
                          <div class="feature-info">
                            <h4>What about food?</h4>
                            <p class="feature-description">You don't have to worry about food, we will provide food to all the participants during the hackathon.</a></p>
                          </div>
                        </div>


                      </div>
                    </div>
                  </section>

                  <!--End Features Section -->
                  <!-- Start Footer 1 -->
                  <section id="registration"  class="text-center">
                    <div class="container">
                      <!-- <hr> --><hr width="8%">
                      <h3 class="section-title wow fadeInUp">REGISTRATION</h3>
                      <h4>Registration for the event isn't aviliable yet. Subscribe to our mailing list and you'll receive updates and a notification when we open registration.</h4>
                      <!-- <h3 style="color: #FFFFFF; text-align: center; margin-top: 50px;"></h3> -->
                      <!-- Begin MailChimp Signup Form -->
                      <link href="http://cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
                      <style type="text/css">
                        #mc_embed_signup{ font:14px ;font-weight: 400 !important;font-family: 'Quicksand', sans-serif; width:100%;}
                /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
  We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
  <form action="http://includegirls.us11.list-manage.com/subscribe/post?u=0901b811595e5913d4424e5a4&amp;id=be63a9f21c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <div class="clear"><label>EMAIL &nbsp</label></div>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" style="height: 43px;" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0901b811595e5913d4424e5a4_be63a9f21c" tabindex="-1" value=""></div>
      <div class="clear"><input type="submit" style="    background: transparent;
    color: #35495c;
    border-style: dotted;
    border-width: 1px;" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"  class="btn btn-primary btn-scroll" ></div>
    </div>
  </form>
</br></br></br>
</div>

<!--End mc_embed_signup-->

</div>
</section>
<footer id="footer">


  <div class="footer-copyright">
    <div class="container">
      <div class="row">

        <div class="col-md-4 col-sm-6 col-twitter">
          <h4>Latest Tweets</h4>
          <div >
            <a 
            class="twitter-timeline" 
            href="https://twitter.com/IncludeGirls" 
            data-widget-id="716348765901365250"
            width="300"
            height="200"
            data-chrome="noheader nofooter">Tweets by @IncludeGirls</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>





          </div>
        </div>
        <div class="col-md-4 col-sm-2 col-footer">
          <h4>About Include Girls</h4>
          <p> &#35;Include&#60girls&#62 is a student driven non-profit organization from the UPR for women in STEM. Our goal is to outreach not only women, but a minority represented in our science.</p>
          <p>We don't segregate ourselves, we support diversity.
            We also aim to change the erroneous perception that the students can have about Computer Science. </p>
          </div>
          <div class="col-md-4 col-sm-12">
            <h4>COPYRIGHTS</h4>
            <p> Logo and name belong to &#35;include&#60girls&#62. </p>
            <p> Photos were taken by Jonathan Medina, Bianca Colon, Mariecarmen Reynoso & Valerie Santiago.</p>
            <p>All the illustrations were recovered from <a href="https://pixabay.com/"> www.pixabay.com.</a></p>
            <p>Favicon created with website <a href="http://www.favicon-generator.org/">www.favicon-generator.org/</a></p>
            <p>All sponsors' logos belong to their respective owners.</p>
          </div>


        </div>
      </div><!-- End Footer Copyright -->

    </footer>



    <!-- Start Back To Top -->
    <!-- <a id="back-to-top"><i class="icon ion-chevron-up"></i></a> -->
    <!-- End Back To Top -->

  </div> <!-- End Site Wrapper -->

  <!-- jQuery -->
  <script src="../static/js/plugins/jquery.min.js"></script>
  <script src="../static/js/plugins/smoothscroll.min.js"></script>
  <script src="../static/js/plugins/revslider.min.js"></script>
  <script src="../static/js/plugins/bootstrap.min.js"></script>
  <script src="../static/js/plugins/waypoints.min.js"></script>
  <script src="../static/js/plugins/parallax.min.js"></script>
  <script src="../static/js/plugins/easign1.3.min.js"></script>
  <script src="../static/js/plugins/moderniz.min.js"></script>
  <script src="../static/js/plugins/cubeportfolio.min.js"></script>
  <script src="../static/js/plugins/owlcarousel.min.js"></script>
  <script src="../static/js/plugins/tweetie.min.js"></script>
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script src="../static/js/plugins/gmap3.min.js"></script>
  <script src="../static/js/plugins/wow.min.js"></script>
  <script src="../static/js/plugins/counterup.min.js"></script>
  <script src="../static/js/scripts.js"></script>

</body>
</html>
