<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta Data -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Include Girls - Hackathon</title>

         <!-- Stlylesheet -->
        <link href="../static/css/style.css" rel="stylesheet" type="text/css" />

        <!-- Skin Color -->
        <link rel="stylesheet" href="../static/css/colors/pink2.css" id="color-skins"/>

    </head>
    <body>

        <!--Start Header-->
        <header>
            <nav class="navbar navbar-default navbar-alt-mi" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand to-top" rel="home">
                            <!--<img src="../static/img/assets/logo-white2.png" class="logo-big">
                            <img src="../static/img/assets/logo-dark.png" class="logo-small">-->
                        </a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="main-nav">
                        <ul class="nav navbar-nav">

                            <li class="to-section"><a href="https://hackathon.includegirls.com/"> Home </a></li>
                            <li class="to-section"><a href="https://hackathon.includegirls.com/#about"> About </a></li>
                            <!--
                            <li class="to-section"><a href="#location"> Location </a></li>
                            <li class="to-section"><a href="#prizes"> Prizes </a></li>
                            <li class="to-section"><a href="#prizes"> FAQ </a></li>  -->
                            <li class="to-section"><a href="#price-list"> Sponsors </a></li>

                            <!-- Pages
                            <li class="dropdown">
                                <span class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></span>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="">1</a></li>
                                    <li><a href="">2</a></li>
                                    <li class=""><a href="#">3</a></li>
                                    <li><a href="">4</a></li>
                                </ul>
                            </li>
                            -->

                            <li class="to-section"><a href="#contact_sponsor">Contact Us</a></li>
                            <li><a class="social-icon" href="https://twitter.com/IncludeGirls"><i class="icon icon-social-twitter"></i></a></li>
                            <li><a class="social-icon" href="https://www.facebook.com/includeGirls?fref=ts"><i class="icon icon-social-facebook"></i></a></li>
                            <!--<li><a class="social-icon" href="#"><i class="icon icon-support"></i></a></li>
                            -->
                      </ul>
                    </div><!-- /.navbar-collapse -->
                    <a id="mlh-trust-badge" style="position:fixed;top:0;right:50px;max-width:100px;width:10%;min-width: 60px;display:block;z-index:10000" href="https://mlh.io/?utm_campaign=Trust%20Badge" target="_blank"><img src="https://s3.amazonaws.com/logged-assets/trust-badge/f2015.png" alt="MLH Official - Fall 2015" style="width:100%;" ></a>
                </div><!-- /.container -->
            </nav>
        </header>
        <!--End Header-->
        <br>
        <br>
        <br>
        <br>

<div class="container">
<div class="col-md-6 col-sm-6">
<div>
    <!-- Begin MailChimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
        /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
        We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <div id="mc_embed_signup">
        <form action="//includegirls.us11.list-manage.com/subscribe/post?u=0901b811595e5913d4424e5a4&amp;id=17ac318332" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
                <h2>Registration!</h2>
                <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                    <div class="mc-field-group">
                        <label for="mce-FNAME">First Name </label>
                        <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
                    </div>
                    <div class="mc-field-group">
                        <label for="mce-LNAME">Last Name </label>
                        <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
                    </div>
                    <div class="mc-field-group">
                        <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
                        </label>
                        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                    </div>
                    <div class="mc-field-group size1of2">
                        <label for="mce-MMERGE3">Phone Number  <span class="asterisk">*</span>
                        </label>
                        <input type="number" name="MMERGE3" class="required" value="" id="mce-MMERGE3">
                    </div>
                    <div class="mc-field-group">
                        <label for="mce-MMERGE6">T-Shirt Style  <span class="asterisk">*</span>
                        </label>
                        <select name="MMERGE6" class="required" id="mce-MMERGE6">
                            <option value=""></option>
                            <option value="Women">Women</option>
                            <option value="Men">Men</option>
                        </select>
                    </div>
                    <div class="mc-field-group">
                        <label for="mce-MMERGE5">T-Shirt Size  <span class="asterisk">*</span>
                        </label>
                        <select name="MMERGE5" class="required" id="mce-MMERGE5">
                            <option value=""></option>
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                            <option value="XXL">XXL</option>
                        </select>
                    </div>
                    <div class="mc-field-group">
                        <label for="mce-MMERGE4">Link to Resume  <span class="asterisk">*</span>
                        </label>
                        <input type="url" value="" name="MMERGE4" class="required url" id="mce-MMERGE4">
                    </div>
                    <div class="mc-field-group input-group">
                        <strong>Code of Conduct </strong>
                        <ul><li><input type="checkbox" value="1" name="group[7341][1]" id="mce-group[7341]-7341-0"><label for="mce-group[7341]-7341-0">I will at all times abide by and conform to the <a href="https://mlh.io">Major League Hacking</a> (MLH) Code of Conduct while at the event.</label></li>
                        </ul>
                    </div>
                    <div>
                        <p>We are sanctioned by and participate in, <a href="https://mlh.io">Major League Hacking</a>(MLH). You authorize us to share certain application/registration information for event administration, ranking, MLH administration, and occasional messages about hackathons in line with the <a href="https://mlh.io/privacy">MLH Privacy Policy.</a></p>
                    </div>

                    <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_0901b811595e5913d4424e5a4_17ac318332" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                    </div>
                </form>
            </div>
            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[3]='MMERGE3';ftypes[3]='number';fnames[6]='MMERGE6';ftypes[6]='dropdown';fnames[5]='MMERGE5';ftypes[5]='dropdown';fnames[4]='MMERGE4';ftypes[4]='imageurl';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->

    </div></div></div>
    <!-- jQuery -->
        <script src="js/plugins/jquery.min.js"></script>
        <script src="js/plugins/smoothscroll.min.js"></script>
        <script src="js/plugins/revslider.min.js"></script>
        <script src="js/plugins/bootstrap.min.js"></script>
        <script src="js/plugins/waypoints.min.js"></script>
        <script src="js/plugins/parallax.min.js"></script>
        <script src="js/plugins/easign1.3.min.js"></script>
        <script src="js/plugins/moderniz.min.js"></script>
        <script src="js/plugins/cubeportfolio.min.js"></script>
        <script src="js/plugins/owlcarousel.min.js"></script>
        <script src="js/plugins/tweetie.min.js"></script>
        <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script src="js/plugins/gmap3.min.js"></script>
        <script src="js/plugins/wow.min.js"></script>
        <script src="js/plugins/counterup.min.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>
