<!DOCTYPE html>
<html lang="en">
	<head>
    	<!-- Meta Data -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Include Girls - Hackathon</title>
 
         <!-- Stlylesheet -->
        <link href="../static/css/style.css" rel="stylesheet" type="text/css" />
        
        <!-- Skin Color -->
        <link rel="stylesheet" href="../static/css/colors/pink2.css" id="color-skins"/>
        
	</head>
	<body>
        
        <!--Start Header-->
        <header>
			<nav class="navbar navbar-default navbar-alt-mi" role="navigation">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					    </button>
                        <a class="navbar-brand to-top" rel="home">
                        	<img src="../static/img/assets/logo-white2.png" class="logo-big">
                            <img src="../static/img/assets/logo-dark.png" class="logo-small">
                        </a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="main-nav">
                        <ul class="nav navbar-nav  navbar-right">
                        
                            <li class="to-section"><a href="https://include-hackathon.herokuapp.com/"> Home </a></li>
                            <li class="to-section"><a href="#about"> About </a></li>
                            <!-- 
                            <li class="to-section"><a href="#location"> Location </a></li>
                            <li class="to-section"><a href="#prizes"> Prizes </a></li> 
                            <li class="to-section"><a href="#prizes"> FAQ </a></li>  -->
                            <li class="to-section"><a href="#price-list"> Sponsor us </a></li> 
                            
                            <!-- Pages
                            <li class="dropdown">
                                <span class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></span>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="">1</a></li>
                                    <li><a href="">2</a></li>
                                    <li class=""><a href="#">3</a></li>
                                    <li><a href="">4</a></li> 
                                </ul>
                            </li> 
                            -->
                            
                            <li class="to-section"><a href="#contact_sponsor">Contact</a></li>
                            <li><a class="social-icon" href="https://twitter.com/IncludeGirls"><i class="icon icon-social-twitter"></i></a></li>
                            <li><a class="social-icon" href="https://www.facebook.com/includeGirls?fref=ts"><i class="icon icon-social-facebook"></i></a></li>
                            <!--<li><a class="social-icon" href="#"><i class="icon icon-support"></i></a></li>
                            -->
                      </ul>
                    </div><!-- /.navbar-collapse -->
				</div><!-- /.container -->
			</nav>
		</header>
        <!--End Header-->
        <hr>

        <!--Start Sponsorhip intro -->
            <section id="features_sponsor">               
                <div class="container">
                    <div class="col-md-12 col-sm-4 feature-column"> 
                    <div class="feature-sponsor-info">
                    <h4>Why sponsor us?</h4>
                    
                    <p class="feature-sponsor-description"> In able to make this event possible, we need the support from companies and individuals who are interested in investing in us and get great exposure as well. We have many options for sponsorhip that can meet everybody needs.</p>
                    </div>
                    </div>
                </div> 
            </section>  
        <!--End Sponsorhip intro -->

             <!-- Start Price List For Job Fair-->
            <section id="price-list" class="parallax-section-6" >
                <div class="container">
                    <div class="row wow fadeInUp">
                        <h3 class="section-title wow fadeInUp text-center"><span class="highlight">Sponsorship Packages</span></h3> 
                        <br>
                        <br>
                        <p class="white"><font size="6">Sponsor the Job Fair</font></p>
                        <div class="col-md-3 col-sm-6 price-list-box">
                            <div class="price-box">
                                <div class="price-table">
                                    <h3 class="label label-silver">Silver</h3>
                                    <p class="price grey">
                                        <sup class="currency">$</sup>
                                        <span class="pricing">300</span>
                                    </p>
                                    <p class="features grey">
                                    <span class="feature">Listed in website</span>
                                    <span class="feature">Items at Booth</span>
                                    <span class="feature">Shared Booth</span>
                                    <span class="feature">Listed in Career Fair Guide</span>
                                    <span class="feature">One month access to Resume Book</span>
                                    <span class="feature"></span>
                                    <span class="feature"></span>
                                    <span class="feature"></span>
                                    <span class="feature option-button no-border">
                                        <a href="https://docs.google.com/spreadsheets/d/1TgKgXVE0MoDUi6RqLrtnGNfKQ-RjcxgjmlI2VDZ9P9s/edit?usp=sharing" class="btn-effect">MORE INFO!</a>
                                    </span>
                                    
                                </p>
                            </div>
                        </div>
                    </div>
                        
                        <div class="col-md-3 col-sm-6 price-list-box">
                            <div class="price-box">
                                <div class="price-table">
                                    <h3 class="label label-bronze">Bronze</h3>
                                    <p class="price grey">
                                        <sup class="currency">$</sup>
                                        <span class="pricing">600</span>
                                        
                                    </p>
                                    <p class="features grey">
                                        <span class="feature">Logo on web</span>
                                        <span class="feature">Logo on T-Shirt</span>
                                        <span class="feature">One Event Bag Items</span>
                                        <span class="feature">Booth</span>
                                        <span class="feature">Company Profile Career Fair Guide</span>
                                        <span class="feature">Six months access to Resume Book</span>
                                        <span class="feature"></span>
                                        <span class="feature"></span>
                                        <span class="feature option-button no-border">
                                        <a href="https://docs.google.com/spreadsheets/d/1TgKgXVE0MoDUi6RqLrtnGNfKQ-RjcxgjmlI2VDZ9P9s/edit?usp=sharing" class="btn-effect">MORE INFO!</a>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-3 col-sm-6 price-list-box">
                            <div class="price-box">
                                <div class="price-table">
                                    <h3 class="label label-gold">Gold</h3>
                                    <p class="price grey">
                                        <sup class="currency">$</sup>
                                        <span class="pricing">1,000</span>
                                        
                                    </p>
                                    <p class="features grey">
                                        <span class="feature">Logo on web</span>
                                        <span class="feature">Logo on T-Shirt</span>
                                        <span class="feature">Two Event Bag Items</span>
                                        <span class="feature">Mention in Press Release</span>
                                        <span class="feature">One Corner</span>
                                        <span class="feature">Company Profile Career Fair Guide</span>
                                        <span class="feature">Interview Booth</span>
                                        <span class="feature">One-Year access to Resume Book</span>
                                        <span class="feature option-button no-border">
                                        <a href="https://docs.google.com/spreadsheets/d/1TgKgXVE0MoDUi6RqLrtnGNfKQ-RjcxgjmlI2VDZ9P9s/edit?usp=sharing" class="btn-effect">MORE INFO!</a>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                                
                    </div>
                </div>
            <!-- End Price List for Job Fair -->

            <!-- Start Price List for Hackathon  -->
                <div class="container">
                    <div class="row wow fadeInUp">
                        <br>
                        <br>
                        <p class="white"><font size="6">Sponsor the Hackathon</font></p>
                        <div class="col-md-3 col-sm-6 price-list-box">
                            <div class="price-box">
                                <div class="price-table">
                                    <h3 class="label label-silver">Silver</h3>
                                    <p class="price grey">
                                        <sup class="currency">$</sup>
                                        <span class="pricing">300</span>
                                    </p>
                                    <p class="features grey">
                                        <span class="feature">Listed in website</span>
                                        <span class="feature">SWAG</span>
                                        <span class="feature">Special Prize</span>
                                        <span class="feature"></span>
                                        <span class="feature"></span>
                                        <span class="feature"></span>
                                        <span class="feature"></span>
                                        <span class="feature"></span>
                                        <span class="feature"></span>
                                        <span class="feature"></span>
                                        <span class="feature option-button no-border">
                                        <a href="https://docs.google.com/spreadsheets/d/1TgKgXVE0MoDUi6RqLrtnGNfKQ-RjcxgjmlI2VDZ9P9s/edit?usp=sharing" class="btn-effect">MORE INFO!</a>
                                        </span>
                                        
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-3 col-sm-6 price-list-box">
                            <div class="price-box">
                                <div class="price-table">
                                    <h3 class="label label-bronze">Bronze</h3>
                                    <p class="price grey">
                                        <sup class="currency">$</sup>
                                        <span class="pricing">600</span>
                                        
                                    </p>
                                    <p class="features grey">
                                        <span class="feature">Logo on web</span>
                                        <span class="feature">Logo on T-Shirt</span>
                                        <span class="feature">API Demo</span>
                                        <span class="feature">SWAG</span>
                                        <span class="feature">Mentors</span>
                                        <span class="feature">Special Prize</span>
                                        <span class="feature">One month Resume Book Access</span>
                                        <span class="feature"></span>
                                        <span class="feature"></span>
                                        <span class="feature"></span>
                                        <span class="feature option-button no-border">
                                            <a href="https://docs.google.com/spreadsheets/d/1TgKgXVE0MoDUi6RqLrtnGNfKQ-RjcxgjmlI2VDZ9P9s/edit?usp=sharing" class="btn-effect">MORE INFO!</a>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-3 col-sm-6 price-list-box">
                            <div class="price-box">
                                <div class="price-table">
                                    <h3 class="label label-gold">Gold</h3>
                                    <p class="price grey">
                                        <sup class="currency">$</sup>
                                        <span class="pricing">1,000</span>
                                        
                                    </p>
                                    <p class="features grey">
                                        <span class="feature">Logo on web</span>
                                        <span class="feature">Logo on T-Shirt</span>
                                        <span class="feature">One Event Bag Items</span>
                                        <span class="feature">Mention in Press Release</span>
                                        <span class="feature">API Demo</span>
                                        <span class="feature">SWAG</span>
                                        <span class="feature">Mentors</span>
                                        <span class="feature">Special Prize</span>
                                        <span class="feature">Keynote</span>
                                        <span class="feature">Six months Resume Book Access</span>
                                        
                                        <span class="feature option-button no-border">
                                            <a href="https://docs.google.com/spreadsheets/d/1TgKgXVE0MoDUi6RqLrtnGNfKQ-RjcxgjmlI2VDZ9P9s/edit?usp=sharing" class="btn-effect">MORE INFO!</a>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                                
                    </div>
                </div>        
            <!-- End Price List for Hackathon --> 

             <!-- Start Price List For Job Fair and Hackathon-->
                <div class="container">
                    <div class="row wow fadeInUp">
                        <br>
                        <br>
                        <p class="white"><font size="6">Sponsor the Job Fair <span class="highlight">AND</span> the Hackathon</font></p>
                        <div class="col-md-3 col-sm-6 price-list-box">
                            <div class="price-box">
                                <div class="price-table">
                                    <h3 class="label label-silver">Silver</h3>
                                    <p class="price grey">
                                        <sup class="currency">$</sup>
                                        <span class="pricing">600</span>
                                    </p>
                                    <p class="features grey">
                                    <span class="feature">Listed in website</span>
                                    <span class="feature">Items at Booth</span>
                                    <span class="feature">SWAG</span>
                                    <span class="feature">Special Prize</span>
                                    <span class="feature">Shared Booth</span>
                                    <span class="feature">Listed in Career Fair Guide</span>
                                    <span class="feature">One month access to Resume Book</span>
                                    <span class="feature"></span>
                                    <span class="feature"></span>
                                    <span class="feature"></span>
                                    <span class="feature"></span>
                                    <span class="feature"></span>
                                    <span class="feature"></span>
                                    <span class="feature option-button no-border">
                                        <a href="https://docs.google.com/spreadsheets/d/1TgKgXVE0MoDUi6RqLrtnGNfKQ-RjcxgjmlI2VDZ9P9s/edit?usp=sharing" class="btn-effect">MORE INFO!</a>
                                    </span>
                                    
                                </p>
                            </div>
                        </div>
                    </div>
                        
                        <div class="col-md-3 col-sm-6 price-list-box">
                            <div class="price-box">
                                <div class="price-table">
                                    <h3 class="label label-bronze">Bronze</h3>
                                    <p class="price grey">
                                        <sup class="currency">$</sup>
                                        <span class="pricing">1000</span>
                                    </p>
                                    <p class="features grey">
                                        <span class="feature">Logo on web</span>
                                        <span class="feature">Logo on T-Shirt</span>
                                        <span class="feature">One Event Bag Items</span>
                                        <span class="feature">API Demo</span>
                                        <span class="feature">SWAG</span>
                                        <span class="feature">Special Prize</span>
                                        <span class="feature">Booth</span>
                                        <span class="feature">Company Profile Career Fair Guide</span>
                                        <span class="feature">One month access to Resume Book</span>
                                        <span class="feature"></span>
                                        <span class="feature"></span>
                                        <span class="feature"></span>
                                        <span class="feature"></span>
                                        <span class="feature option-button no-border">
                                        <a href="https://docs.google.com/spreadsheets/d/1TgKgXVE0MoDUi6RqLrtnGNfKQ-RjcxgjmlI2VDZ9P9s/edit?usp=sharing" class="btn-effect">MORE INFO!</a>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-3 col-sm-6 price-list-box">
                            <div class="price-box">
                                <div class="price-table">
                                    <h3 class="label label-gold">Gold<!-- <span>Best Choice</span> --></h3>
                                    <p class="price grey">
                                        <sup class="currency">$</sup>
                                        <span class="pricing">1,500</span>
                                    </p>
                                    <p class="features grey">
                                        <span class="feature">Logo on web</span>
                                        <span class="feature">Logo on T-Shirt</span>
                                        <span class="feature">One Event Bag Items</span>
                                        <span class="feature">API Demo</span>
                                        <span class="feature">SWAG</span>
                                        <span class="feature">Mentors</span>
                                        <span class="feature">Special Prize</span>
                                        <span class="feature">Booth</span>
                                        <span class="feature">Company Profile Career Fair Guide</span>
                                        <span class="feature">Interview Booth</span>
                                        <span class="feature">Six months access to Resume Book</span>
                                        <span class="feature"></span>
                                        <span class="feature"></span>
                                        <span class="feature option-button no-border">
                                        <a href="https://docs.google.com/spreadsheets/d/1TgKgXVE0MoDUi6RqLrtnGNfKQ-RjcxgjmlI2VDZ9P9s/edit?usp=sharing" class="btn-effect">MORE INFO!</a>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-3 col-sm-6 price-list-box">
                            <div class="price-box">
                                <div class="price-table">
                                    <h3 class="label label-platinum">Platinum</h3>
                                    <p class="price grey">
                                        <sup class="currency">$</sup>
                                        <span class="pricing">2,000</span>
                                        
                                    </p>
                                    <p class="features grey">
                                        <span class="feature">Logo on web</span>
                                        <span class="feature">Logo on T-Shirt</span>
                                        <span class="feature">Three Event Bags</span>
                                        <span class="feature">Mention in Press Release</span>
                                        <span class="feature">API Demo</span>
                                        <span class="feature">SWAG</span>
                                        <span class="feature">Mentors</span>
                                        <span class="feature">Special Prize</span>
                                        <span class="feature">Keynote</span>
                                        <span class="feature">One Corner</span>
                                        <span class="feature">Company Profile Career Fair Guide</span>
                                        <span class="feature">Interview Booth</span>
                                        <span class="feature">One-Year access to Resume Book</span>
                                        <span class="feature option-button no-border">
                                        <a href="https://docs.google.com/spreadsheets/d/1TgKgXVE0MoDUi6RqLrtnGNfKQ-RjcxgjmlI2VDZ9P9s/edit?usp=sharing" class="btn-effect">MORE INFO!</a>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                                
                    </div>
                </div>
            </section> 
            <!-- End Price List for Job Fair and Hackathon -->

            <!-- Contact info in Sponsor Page -->
            <section id="contact_sponsor"> 
                <div class="container">
                    <div class="col-md-12 col-sm-4 feature-column"> 
                        <h4 class="contact-sponsor-description">If you're interested in any of these packages, or would like to make us another offer, please contact us: <span class="highlight">include.girls.uprrp.edu@gmail.com</span>.</h4> 
                        </h4> 
                    </div>
                </div>
            </section>
            <!-- Contact info in Sponsor Page -->

    </div> <!-- End Site Wrapper -->  
        
        <!-- jQuery -->
        <script src="js/plugins/jquery.min.js"></script>
        <script src="js/plugins/smoothscroll.min.js"></script>
        <script src="js/plugins/revslider.min.js"></script> 
        <script src="js/plugins/bootstrap.min.js"></script>
        <script src="js/plugins/waypoints.min.js"></script>
        <script src="js/plugins/parallax.min.js"></script>
        <script src="js/plugins/easign1.3.min.js"></script>
        <script src="js/plugins/moderniz.min.js"></script>
        <script src="js/plugins/cubeportfolio.min.js"></script>
        <script src="js/plugins/owlcarousel.min.js"></script>
        <script src="js/plugins/tweetie.min.js"></script>
        <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script src="js/plugins/gmap3.min.js"></script>
        <script src="js/plugins/wow.min.js"></script>
        <script src="js/plugins/counterup.min.js"></script> 
        <script src="js/scripts.js"></script>  
        

    </body>
</html>


